server:
  port: 0

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:mysql://localhost:3306/orderservice?serverTimezone=Asia/Seoul
    username: spring
    password: spring
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
  # file upload setting
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB

  # aws s3 ?? ??? ??? ??? ???? ??


# log level setting
logging:
  level:
    root: info
    com:
      playdata:
        productservice:
          common: debug

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka/
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}












